<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog</h1>
        </a>
        <p>A Blog Site</p>
    </div>
    <ul>
        <il><a href="/">Blogs</a></il>
        <il><a href="/about">About</a></il>
        <il><a href="/blogs/create">New Blog</a></il>
    </ul>
</nav>